flows.json
[
    {
        "id": "da0f05e05f024dcd",
        "type": "tab",
        "label": "Flow-220326C",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b44d2a8be9d53153",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "Main Switch",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3faaa946cc44ddf8",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "0e8d884a3c407c9a",
        "type": "ui_switch",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "89c4a2b55981a7e0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "b44d2a8be9d53153"
            ]
        ]
    },
    {
        "id": "5b2a5ccc03f87883",
        "type": "mqtt in",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "LDR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "e6ec71e4f3faa3e6",
                "10059a289bb3aafc"
            ]
        ]
    },
    {
        "id": "e6ec71e4f3faa3e6",
        "type": "function",
        "z": "da0f05e05f024dcd",
        "name": "function 1",
        "func": "// Get the sending interval tu (in sec); default to 120s\nlet tu = flow.get(\"t_u\");\ntu = (typeof tu === \"number\") ? tu * 60 : 120;\n\n// Get the sampling interval ts (in sec); default to 5s\nlet ts = flow.get(\"t_s\") || 5;\n\n// Calculate how many readings to store before sending\nlet maxReadings = Math.floor(tu / ts);\n\n// Get previous readings from context\nlet readings = context.get(\"readings\") || [];\n\n// Add the new reading\nreadings.push(msg.payload);\n\n// If we have enough readings, calculate and send average\nif (readings.length >= maxReadings) {\n    let sum = readings.reduce((a, b) => a + b, 0);\n    let avg = sum / readings.length;\n\n    // Clear the buffer\n    context.set(\"readings\", []);\n\n    // Output average value\n    msg.payload = avg;\n    return msg;\n} else {\n    // Save updated readings buffer\n    context.set(\"readings\", readings);\n    return null; // Not enough samples yet\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "be3b5b5ee3566d27",
                "1b46718476444983",
                "6ac3d31e034885e1",
                "b7a9862aa1f06dfb"
            ]
        ]
    },
    {
        "id": "be3b5b5ee3566d27",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b46718476444983",
        "type": "ui_numeric",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "recent average",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": ".000000001",
        "className": "",
        "x": 720,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6ac3d31e034885e1",
        "type": "ui_chart",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "759ec6f5a0863283",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "2",
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#f8e45c",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "10059a289bb3aafc",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "b7a9862aa1f06dfb",
        "type": "ui_gauge",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "759ec6f5a0863283",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "655355a03263685c",
        "type": "ui_slider",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "Sampling Intervals (sec)",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "3b7e517ddfeaefa6",
                "1a9e72e729ba4dd5"
            ]
        ]
    },
    {
        "id": "bd1b5e448081b3af",
        "type": "ui_slider",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "Sending Intervals (min)",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "f47339091b61844c",
                "ee5b3d59aca1c859"
            ]
        ]
    },
    {
        "id": "f47339091b61844c",
        "type": "function",
        "z": "da0f05e05f024dcd",
        "name": "function 3",
        "func": "flow.set(\"tu\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "3b7e517ddfeaefa6",
        "type": "function",
        "z": "da0f05e05f024dcd",
        "name": "function 2",
        "func": "flow.set(\"ts\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1a9e72e729ba4dd5",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "t_s",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "ee5b3d59aca1c859",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "t_u",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "9e65b162953ce2ba",
        "type": "ui_slider",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "θ_offset Slider",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "e9b262306421e00e"
            ]
        ]
    },
    {
        "id": "9b076bb4d713f205",
        "type": "ui_slider",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "γ Slider",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "3fa863066c137f88"
            ]
        ]
    },
    {
        "id": "5c6aa42db22cef30",
        "type": "ui_slider",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "T_med Slider",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "b75d289baa55e5f0"
            ]
        ]
    },
    {
        "id": "e9b262306421e00e",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "θ_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 500,
        "y": 900,
        "wires": []
    },
    {
        "id": "3fa863066c137f88",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "γ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 490,
        "y": 980,
        "wires": []
    },
    {
        "id": "b75d289baa55e5f0",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "T_med",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 500,
        "y": 1060,
        "wires": []
    },
    {
        "id": "c46c9564ff633fad",
        "type": "mqtt in",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "Temp n humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "bb6207b05151acf6",
                "1ade94c7507a49b1",
                "0f73b6863027d183",
                "64b7762abf464a99",
                "b75c643a2f4a7a3c"
            ]
        ]
    },
    {
        "id": "bb6207b05151acf6",
        "type": "ui_gauge",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "d6318406dff2d0e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1ade94c7507a49b1",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0f73b6863027d183",
        "type": "function",
        "z": "da0f05e05f024dcd",
        "name": "function 4",
        "func": "msg.payload=msg.payload.temperature\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1200,
        "wires": [
            [
                "3983c49b263940c4"
            ]
        ]
    },
    {
        "id": "64b7762abf464a99",
        "type": "ui_gauge",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "913133e876fec169",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "gauge",
        "label": "%",
        "format": "{{payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3983c49b263940c4",
        "type": "ui_chart",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "d6318406dff2d0e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "f18b8eef71ab0ee3",
        "type": "ui_chart",
        "z": "da0f05e05f024dcd",
        "name": "",
        "group": "913133e876fec169",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b75c643a2f4a7a3c",
        "type": "function",
        "z": "da0f05e05f024dcd",
        "name": "function 5",
        "func": "msg.payload=msg.payload.humidity\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "f18b8eef71ab0ee3"
            ]
        ]
    },
    {
        "id": "19562852b520cff3",
        "type": "mqtt in",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "alarm-state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "11ad634093d5da41",
                "e3c76bc06c438f69"
            ]
        ]
    },
    {
        "id": "11ad634093d5da41",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e3c76bc06c438f69",
        "type": "ui_toast",
        "z": "da0f05e05f024dcd",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alarm Enabled!  Take Medicine",
        "name": "",
        "x": 650,
        "y": 1780,
        "wires": []
    },
    {
        "id": "5919e2a0ced4b0aa",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1880,
        "wires": []
    },
    {
        "id": "eaad536f11549e87",
        "type": "mqtt in",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "alarm-on-off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1880,
        "wires": [
            [
                "5919e2a0ced4b0aa"
            ]
        ]
    },
    {
        "id": "7b7f26fb0205edab",
        "type": "ui_switch",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ff18bde2aa5e14f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 2000,
        "wires": [
            [
                "1b38388a162de69d"
            ]
        ]
    },
    {
        "id": "0347e6103dbc0e07",
        "type": "ui_text_input",
        "z": "da0f05e05f024dcd",
        "name": "",
        "label": "Time",
        "tooltip": "",
        "group": "ff18bde2aa5e14f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 2160,
        "wires": [
            [
                "f797a08d70d4e68d",
                "be4f25ade3fab764"
            ]
        ]
    },
    {
        "id": "1b38388a162de69d",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "alarm-on-off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 610,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f797a08d70d4e68d",
        "type": "mqtt out",
        "z": "da0f05e05f024dcd",
        "name": "",
        "topic": "set-alarm-time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 600,
        "y": 2100,
        "wires": []
    },
    {
        "id": "be4f25ade3fab764",
        "type": "debug",
        "z": "da0f05e05f024dcd",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 2240,
        "wires": []
    },
    {
        "id": "3faaa946cc44ddf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89c4a2b55981a7e0",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "97d3c8054ed373cf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "32708ed9ec6606b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "759ec6f5a0863283",
        "type": "ui_group",
        "name": "Light Intencity",
        "tab": "97d3c8054ed373cf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d14387c67c8d317",
        "type": "ui_group",
        "name": "Shade Control",
        "tab": "97d3c8054ed373cf",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6318406dff2d0e4",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "97d3c8054ed373cf",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "913133e876fec169",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "97d3c8054ed373cf",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff18bde2aa5e14f3",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "97d3c8054ed373cf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97d3c8054ed373cf",
        "type": "ui_tab",
        "name": "MediBox-220326C",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]